
.container {
  display: flex;
  flex-direction: column;
}

.container .board-container {
  display: flex;
  flex-direction: row;
}

.container > div, .container .board, .container .playerUI {
  flex: 1;
}

.board {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

table, tbody, tr, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  font-size: 30px;
  box-sizing: border-box;
}

.board.icon td {
  width: 15px;
  height: 15px;
  /* border: 1px solid #95A5A5; */
  background-color: #ecf0f1;
  font-size: .6em;
}

.board.icon td.empty {
  box-shadow: inset -.5px -.5px 0px 0px #95a5a5, inset .5px .5px 0px 0px #95a5a5
}

.board.icon td.white {
  background-color: #bec3c7;
}

.board.icon td.black {
  background-color: #2d3e50;
}
