
.container {
  display: flex;
  flex-direction: column;
}

.container .board-container {
  display: flex;
  flex-direction: row;
}

.container > div, .container .board, .container .playerUI {
  flex: 1;
}

.board {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

table, tbody, tr, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  font-size: 30px;
  box-sizing: border-box;
}

@media only screen and (max-width: 764px) {
  td {
    width: 25px;
    height: 25px;
    font-size: 20px;
  }
  .container .board-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .board {
    width: calc(20px * 8);
  }
}
