
.Chat {
  /* border: 1px dashed limegreen; */
  /* height: 175px;
  flex: 1; */
  box-shadow: 5px 5px 30px rgba(0,0,0,.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ecf0f1;
  margin-top: 10px;
  border: 1px solid #bec3c7;
}

.Chat p {
  margin: 0px;
  padding: 5px;
  box-shadow: 0px 5px 10px rgba(0,0,0,.1);
}

.Chat .messages {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
}

/* .scrollmax {
  align-self: center;
  position: sticky;
} */

.Chat .message {
  /* border: 1px dashed tomato; */
  display: flex;
  /* flex-direction:column; */
  justify-content: flex-start;
  margin: 5px;
}

.Chat .message-inner {
  /* border: 1px solid #bec3c7; */
  border-radius: 10px;
  width: 80%;
  background-color: #ecf0f1;
  text-align: left;
  padding: 3px 6px;
  font-size: 14px;
}

.Chat .message-inner .username {
  font-size: .9em;
  font-weight: 700;
}

.Chat .message.black {
  justify-content: flex-end;
}

.Chat .message.black .message-inner {
  background-color: rgba(53,152,219, .1);
}

.Chat .date {
  font-size: .7em;
}

.Chat .input {
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  display: flex;
}

.Chat .input input {
  flex: 4;
  border: 1px solid #bec3c7;
  border-radius: 0px 0px 0px 10px;
  padding: 5px 10px;
  border-right: none;
}

.Chat .input button {
  flex: 1;
  border: 1px solid #bec3c7;
  border-radius: 0px 0px 10px 0px;
  background-color: #ecf0f1;
  transition: .1s linear;
  cursor: pointer;
  /* color: #2d3c50; */
}

.Chat .input button:hover {
  background-color: #bec3c7;
  /* box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,.1), inset 1px 1px 0px 0px rgba(255,255,255,1); */
}

.Chat .input button:active {

}




@media only screen and (max-width: 768px) {
  .Chat {
    margin-left: 4px;
    margin-top: 0px;
    height: auto;
  }
}
