.header {
  box-shadow: 0px 4px 30px rgba(0,0,0,.1);
  margin-bottom: 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  /* min-height: 30px;
  max-height: 70px; */
  height: 40px;
}

.mainMenu {
  border: none;
  background-color: #fff;
  padding: 0px 20px;
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,.1);
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  transition: .1s linear;
}

.mainMenu:hover {
  color: rgba(53,152,219,1);
}

.signIn {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  padding: 0px 0px 20px 0px;
  border-radius: 20px;
  /* border: 1px dashed tomato; */
  box-shadow: 0px 4px 30px rgba(0,0,0,.1);
  min-width: 30%;
}

.signIn.auth {
  padding: 20px 0px;
}

.signIn.auth .logout {
  background: none;
  border: none;
  font-size: .9em;
  color: rgba(53,152,219,1);
  cursor: pointer;
}

.signIn.auth .logout:hover {
  text-decoration: underline;
  color: rgba(41,127,184,1);
}

.toggleSignInMode {
  display: flex;
}

.toggleSignInMode button {
  flex: 1;
  border: none;
  background-color: #fff;
  font-size: .9em;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #ecf0f1;
  cursor: pointer;
}

.toggleSignInMode button.left {
  border-radius: 20px 0px 0px 0px;
  box-shadow: inset -5px -1px 5px 0px rgba(0,0,0,.1);
}

.toggleSignInMode button.right {
  border-radius: 0px 20px 0px 0px;
  box-shadow: inset 5px -1px 5px 0px rgba(0,0,0,.1);
}

.toggleSignInMode button.active {
  /* background-color: rgba(53,152,219, .3); */
  background-color: #fff;
  box-shadow: none;
}

.signIn-form {
  padding: 10px;
}

.signIn-form input {
  width: 100%;
  transition: .1s linear;
  border: 1px solid #bec3c7;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px 10px;
  margin: 0px 0px 10px 0px;
}

.signIn-form input:hover {

}

.signIn-form input:focus {
  border: 1px solid #3598db;
}

.submitButton {
  transition: .1s linear;
  border: 1px solid #27ae61;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: rgba(45,204,112,.3);
  color: #2d3e50;
}

.profileButton-container {
  /* border: 1px dashed rgba(219, 152, 52, .5); */
  display: flex;
  align-items: stretch;
}

.profileButton-container p {
  margin: 0;
  align-self: center;
}

.profileButton {
  border: none;
  background-color: #fff;
  cursor: pointer;
  /* border: 1px solid rgba(0,0,0, .3); */
  text-decoration: underline;
  font-weight: 700;
}

.profileButton:hover {
  color: rgba(53,152,219,1);
}
