.onlineContainer-select {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gameIcon-container {
  justify-content: center;
  /* border: 1px dashed steelblue; */
  flex: 1;
}

.gameIcon-container-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
