
.playerUI {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.playerUI .takenPieces {
  /* border: 1px solid red; */
  font-size: 1.2em;
  padding: 10px;
}

.playerUI .takenPieces .scoreIndicator {
  text-align: center;
  padding: 10px;
  /* border: 1px solid rgba(255, 255, 255, 1); */
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.playerUI .takenPieces.client .scoreIndicator {
  /* border: 1px solid rgba(52, 157, 219, 1); */
  box-shadow: inset 0px 0px 5px 0px rgba(52, 157, 219, .6);
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .playerUI {
    flex-direction: row;
    justify-content: space-around;
    align-self: stretch;
  }
}
