


.piece {
  height: 50px;
  width: 50px;
}

.virtual-container {
  position: absolute;
}

.virtual {
  position: relative;
  top: 0;
  left: 0;
  width: calc(50px * 8);
  height: calc(50px * 8);
}

.virtual-col {

}

.virtual-row {
  width: 50px;
  height: 50px;
}

.virtual-row .virtual-row-square {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 200, 25, 0.4);
  box-shadow: inset -1px -1px 0px 0px black, inset 1px 1px 0px 0px black;
  cursor: pointer;
  transition: .1s linear;
}

.virtual-row .virtual-row-square:hover {
  background-color: rgba(0, 200, 25, 0.7);
}
